body {
  background-color: lightskyblue;
}
body .navbar {
  position: fixed;
  width: 100%;
  z-index: 100;
}
body .anchor {
  padding-top: 80px;
}
body .title {
  color: white;
  text-align: center;
  font-size: 40px;
}
body .carousel-inner img {
  width: 50%;
  height: 50%;
}
body .carousel-caption p,
body .carousel-caption h3 {
  font-size: 200%;
  text-align: center;
  font-weight: bold;
  color: black;
}
body table {
  width: 100%;
}
body table .yes,
body table .no {
  font-size: 20px;
  font-weight: bold;
}
body table .yes {
  color: green;
}
body table .no {
  color: red;
}
body footer {
  min-height: 300px;
}
body footer form {
  width: 50%;
  margin: auto;
}
body footer form button {
  margin-bottom: 30px;
}
@media screen and (max-width: 800px) {
  .carousel-caption p,
  .carousel-caption h3 {
    font-size: 150%!important;
  }
  .carousel-inner img {
    width: 100%!important;
    height: 100%!important;
  }
}
@media screen and (max-width: 400px) {
  .carousel-caption p,
  .carousel-caption h3 {
    font-size: 100%!important;
  }
}
